/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background-color: #f05e5d;
	color: #fdd667;
	font-family: Raleway;
}

h1 {
	font-size: 80px;
	text-align:center;
}

.job-container{
	background-color: white;
	text-align: center;
	padding: 15px;
	margin: 20px;
	border-radius: 10px;
}

.job-container h2{
	color: #f05e5d
}

.job-field{
	text-align: center
}

.all-jobs-container{
	width: 65%;
	display: inline-block;
	vertical-align: top
}


.add-job-container{
	width: 25%;
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
}

.add-job-container h3{
	text-align: center;
	color: #f05e5d;
}
